server:
  port: 8080
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/management?serverTimezone=Asia/Shanghai
    username: root
    password: Ff332626
  main:
    banner-mode: off
  servlet:
    multipart:
      location: E:/managementPicDir
      max-file-size: 100MB
      max-request-size: 100MB

schedules:
  runBatch: 0 0 23 * * ?

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml

mybatis-plus:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.management.domain
  global-config:
    db-config:
      # 主键生成策略（AUTO务必在数据库表中设置自增字段）
      id-type: AUTO
    banner: off
